                .searchBg {
                    background-color: #303030;
                }
                
                #searchId {
                    display: flex;
                    flex-direction: row;
                    margin-top: 50px;
                }
                
                #search {
                    /* background-color: ; */
                    height: 30px;
                    width: 40vw;
                    border: 1px solid black;
                    border-radius: 4px;
                    margin-bottom: 100px;
                    margin-left: 30px;
                }
                
                #searchBtn {
                    background-color: #dae1e7;
                    color: #000;
                    font-size: 15px;
                    height: 52px;
                    width: 8vw;
                    border: 1px solid black;
                    margin-left: -3px;
                }
                
                #accordion-wrapper {
                    margin-top: px;
                }
                /* Style the buttons that are used to open and close the accordion panel */
                
                .accordion {
                    /* background-color: #eee; */
                    background-color: #fff;
                    color: #515050;
                    font-size: 15px;
                    cursor: pointer;
                    padding: 18px;
                    width: 100%;
                    text-align: left;
                    outline: none;
                    transition: 0.4s;
                    padding-left: 30px;
                    padding-top: 30px;
                    border: none;
                    border-bottom: 1px solid #515050;
                }
                /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
                
                .active,
                .accordion:hover {
                    background-color: #ccc;
                }
                /* Style the accordion panel. Note: hidden by default */
                
                .panel {
                    /* margin-left: 30px; */
                    padding: 0 18px;
                    background-color: white;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }